{% extends 'food/food_wrapper.jinja' %}
{% import '/macros/food_macros.jinja' as macros %}
{% block headline %}
    <h1 class="text-center">Food </h1>
    <p class="text-center">Day: {{ day.strftime("%d.%m.%Y") }}</p>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {{ macros.day_menu(title='Feki', location_menu=feki_menu, fail_text='Die Feki Mensa hat heute geschlossen.') }}
            {{ macros.day_menu(title='Austraße', location_menu=austr_menu, fail_text='Die Austr Mensa hat heute geschlossen.') }}
        </div>
        <div class="row">
            {{ macros.day_menu(title='Erba', location_menu=erba_cafete, fail_text='Aktuell gibt es keine warmen Speisen') }}
            {{ macros.day_menu(title='Markusplatz', location_menu=markus_cafete, fail_text='Aktuell gibt es keine warmen Speisen') }}
        </div>
        <div class="row">
            {{ macros.happy_hours(happy_hours=happy_hours) }}
        </div>
    </div>

{% endblock %}