{% extends "base.jinja" %}
{% block headline %}
    <h1 class="text-center">Essen an der OFU</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daily Food</h4>
                        <p class="card-text">Übersicht über die heutigen Essensmöglichkeiten für Studenten</p>
                        <a href="{% url 'daily-food' %}" class="btn btn-primary">Zur Tagesübersicht</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Weekly Food</h4>
                        <p class="card-text">Übersicht über die wöchentlichen Essensmöglichkeiten für Studenten.</p>
                        <a href="{% url 'weekly-food' %}" class="btn btn-primary">Zur Wochenübersicht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
