{% extends 'base.jinja' %}
{% block headline %}
    <h1 class="text-center">Übersicht Food</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daily</h4>
                        <p class="card-text">Übersicht über Essensmöglichkeiten des aktuellen Tages.</p>
                        <a href="{% url 'daily-food' %}" class="btn btn-primary">Zur Daily Page</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Weekly</h4>
                        <p class="card-text">Übersicht über Essensmöglichkeiten der aktuellen Woche.</p>
                        <a href="{% url 'events-main' %}" class="btn btn-primary">Zur Weekly Page</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All</h4>
                        <p class="card-text">Übersicht über alle zukünftigen Essensmöglichkeiten an der Universität
                            Bamberg. </p>
                        <a href="{% url 'food' %}" class="btn btn-primary">Zur All Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}