{% extends "food/food_wrapper.jinja" %}
{% import 'macros/overview_pages.jinja' as macros %}
{% block headline %}
    <h1 class="text-center">Essen an der OFU</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            {{ macros.home_item(title='Daily Food', url_id='daily-food', description='Übersicht über die heutigen Essensmöglichkeiten für Studenten') }}
            {{ macros.home_item(title='Weekly Food', url_id='weekly-food', description='Übersicht über die wöchentlichen Essensmöglichkeiten für Studenten.') }}
        </div>
    </div>
{% endblock %}
