{% extends 'base.jinja' %}
{% import '/macros/food_macros.jinja' as macros %}
{% block headline %}
    <h1 class="text-center">Essen an der OFU </h1>
    <h2 class="text-center">{{ day.strftime("%d.%m.%Y") }}</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {{ macros.week_menu(title='Speiseplan für Feldkirchenstraße Bamberg', location_menus=feki_menu, fail_text='Die Feki Mensa hat heute geschlossen.') }}
            {{ macros.week_menu(title='Speiseplan für Austraße Bamberg', location_menus=austr_menu, fail_text='Die Austr Mensa hat heute geschlossen.') }}
        </div>
        <div class="row">
            {{ macros.week_menu(title='Cafeteria Erba-Insel', location_menus=erba_cafete, fail_text='Aktuell gibt es keine warmen Speisen') }}
            {{ macros.week_menu(title='Cafeteria Markusplatz', location_menus=markus_cafete, fail_text='Aktuell gibt es keine warmen Speisen') }}
        </div>
        <div class="row">
            <div class="col p-2">
                <div class="p-3 border border-dark rounded bg-light text-dark">
                    <h2>Happy Hour Guide von Feki.de</h2>
                    {% if happy_hours %}
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Location</th>
                                <th>Time</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for happy_hour in happy_hours %}
                                <tr>
                                    <td>{{ happy_hour.location }}</td>
                                    <td>{{ happy_hour.time }}</td>
                                    <td>{{ happy_hour.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Leider gibt es heute keine Happy Hours :(</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}