<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Sammelwebsite für Events universitärer- oder universitäts-naher Veranstaltungen">
    <meta name="keywords" content="OFU, Otto-Friedrich, Universität, Bamberg, Events">
    <link rel="stylesheet" href=" {{ cssfile }} ">
    <title>Essen an der OFU</title>
</head>

<body>
<p class="text-right">Last execute: {{ events_wrapper.last_execute }}</p>
<h1 class="text-center">Events for Students</h1>
<div class=".container">
    <div class="row">
        {% for event in events_wrapper.UnivIS.Event %}
            <div class="col-4">
                <div class="card col m-2 p-3 border border-info rounded" style="height: 99%; width: 100%;">
                    <div class="card-body">
                        <h4>{{ event.title }}</h4>
                        <p>Start: {{ event.startdate }} at {{ event.starttime }}</p>
                        <p>End: {{ event.enddate }} at {{ event.endtime }}</p>
                        {#                <p>Where: {{ event.rooms.room.UnivISRef['@key'] }}</p>#}
                        <p>{{ event.description }}</p>
                        <p>Organisator: {{ event.orgname }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


</body>
</html>