footer {
    /*mb equal height in #food-nav*/
    margin-bottom: 60px;
}

/** Sticky Bottom Nav **/
#food-nav {
    z-index: 5000;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
}

.food-name p {
    margin-bottom: 0;
}

/** Picture Input **/
.pic-upload {
    display: none !important;
}

.custom-pic-upload {
    display: inline-block;
    padding-right: 5px;
    cursor: pointer;
}

.image-wrapper:active img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 8000;
}

.image-wrapper img {
    width: 80px;
    height: 80px;
}

.lb-image, .lb-outerContainer, .lb-image {
    width: 56% !important;
    height: auto !important;
}

.lb-image {
    width: 100% !important;
    height: auto !important;
}