{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no"/>
    <title>OFU App</title>
    <meta name="author" content="Michael Götz"/>
    {#    {% javascript "main_js" %}#}
    {#    {% block js_head %}{% endblock %}#}
    {% block head_extra_first %}{% endblock %}
    <link rel="stylesheet" href="{{ static('libs/bootstrap-4.0.0-beta-dist/css/bootstrap.css') }}">
    {% block head_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body>
{% block body %}
    {% block test %}
        <div class="text-center bg-warning"><h4>Hinweis: Diese Seite dient <strong>nur</strong> zu Testzwecken. Wir
            garantieren weder die
            Vollständigkeit,
            noch
            die Korrektheit der dargestellten Daten.</h4>
        </div>

    {% endblock %}
    {% block headline %}
    {% endblock %}
    <div class="container-fluid bg-info text-white">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        <footer>
            <div class="container-fluid bg-dark text-white">
                <div class="row pt-2 text-center">
                    <div class="col">
                        <p class="text-right"><a href="{{ url('impressum') }}#bug-report">Bug Report</a></p>
                    </div>
                    <div class="col">
                        <p class="text-left"><a href="{{ url('impressum') }}">Impressum</a></p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        © Copyright 2017, Michael Götz
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
{% block js_tail %}{% endblock %}
</body>
</html>