{% extends 'base.jinja' %}
{% import '/macros/overview_pages.jinja' as macros %}
{% block headline %}
    <header class="">
        <h1 class="text-center" style="font-size: 20px">BaStA</h1>
        <p class="text-center">Bamberger Studierenden App</p>
    </header>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            {{ macros.home_item_with_icon(icon='fa-cutlery', url_id='daily-food') }}
            {{ macros.home_item_with_icon(icon='fa-calendar-o', url_id='day-events') }}
            {{ macros.home_item_with_icon(icon='fa-compass', url_id='donar') }}
            {{ macros.home_item_with_icon(icon='fa-th-large', url_id='links-home') }}
        </div>
    </div>
{% endblock %}fa-cutlery