{% extends 'base.jinja' %}
{% import '/macros/overview_pages.jinja' as macros %}
{% block headline %}
    <h1 class="text-center">Donar</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            {{ macros.home_item_with_icon(icon='fa-map-o', url_id='search-rooms', title="Donar", icon_size='fa-3x') }}
            {{ macros.home_item_with_icon(icon='fa-search', link='https://suche.wiai.de/', title="Roofis", icon_size='fa-3x') }}
            {{ macros.home_item_with_icon(icon='fa-bus', url_id='vgn-bus', title='Bus und Bahn', icon_size='fa-3x') }}
        </div>
    </div>
{% endblock %}