{% extends 'base.jinja' %}
{% import '/macros/overview_pages.jinja' as macros %}
{% block headline %}
    <h1 class="text-center">App für Studenten der Universität Bamberg</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            {{ macros.home_item(title='All Rooms', url_id='all-rooms', description='Übersicht über alle Lehrräume an der Universität Bamberg.') }}
            {{ macros.home_item(title='Search Rooms', url_id='search-rooms', description='Du weißt nicht wo du hin musst? Hier kannst du ihn finden.') }}
        </div>
    </div>
{% endblock %}