{% extends 'base.jinja' %}
{% block headline %}
    <h1 class="text-center">Events in Bamberg</h1>
{% endblock %}
{% block content %}
    <div class="container text-dark">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Events for a Week</h4>
                        <p class="card-text">Übersicht über alle Events an der Uni und Veranstaltungen der HSnGs</p>
                        <a href="{% url 'all-events' %}" class="btn btn-primary">Zur Gesamtübersicht</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Events for a Week</h4>
                        <p class="card-text">Übersicht über alle Events an der Uni und Veranstaltungen der HSnGs in der
                            zukünftigen Woche.</p>
                        <a href="{% url 'week-events' %}" class="btn btn-primary">Zur Wochenübersicht</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}